/*style de l'apecu de l'article - non injecté dans le code généré mais présent dans feuille css du template "clamart-custom.css"*/
        
#gauche {
width: 45%;
background: none repeat scroll 0 0 #F5F5F5;
border-radius: 5px 5px 5px 5px;
padding: 0 5px 5px 5px;
display : inline-block;
margin-right : 10px;
}

#texte{
text-align : left;
}

#text-intro{
text-align : left;
}

#img{
border-radius : 20px;
}
#titre h4{
color: #809B27;
}

/*sprite*/
#titre h4::before{
content:url(http://mediatheque.clamart.fr/images/stories/logos/AC-logo-titre-30px.png);
padding-right : 10px;
}

#informations h4::before{
content:url(http://mediatheque.clamart.fr/images/stories/logos/AC-logo-titre-20px.png);
padding-right : 10px;
}

#public .sprite{
background-image: url('http://mediatheque.clamart.fr/images/stories/logos/AC-sprite-public.png'); 
background-position: bottom;
}

#horaires .sprite{
background-image: url('http://mediatheque.clamart.fr/images/stories/logos/AC-sprite-horaires.png'); 
}

#reservation .sprite{
background-image: url('http://mediatheque.clamart.fr/images/stories/logos/AC-sprite-horaires.png'); 
background-position: bottom;
}

